[*.cs]

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = error

# NULL.
dotnet_diagnostic.CS8604.severity = error
dotnet_diagnostic.CS8603.severity = error
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.CS8625.severity = error

# VSTHRD002: Avoid synchronous waits (Task.Result / Task.Wait)
dotnet_diagnostic.VSTHRD002.severity = warning

# VSTHRD200: Use "Async" suffix in names of methods that return an awaitable type
dotnet_diagnostic.VSTHRD200.severity = none

# CS4014: Поскольку этот вызов не ожидается, выполнение текущего метода продолжается до завершения вызова. Попробуйте применить оператор await к результату вызова.
dotnet_diagnostic.CS4014.severity = error

