[submodule "McpTracker"]
	path = McpTracker
	url = https://github.com/tohodov/McpTracker
[submodule "Tests/RelevantTests"]
	path = Tests/RelevantTests
	url = https://github.com/tohodov/TestImpactOnCoverage
