[submodule "McpTracker"]
	path = McpTracker
	url = https://github.com/tohodov/McpTracker
[submodule "TestImpactOnCoverage"]
	path = TestImpactOnCoverage
	url = https://github.com/tohodov/TestImpactOnCoverage
